<div class="divide-solid border-b-2 border-black mt-5 mb-5">&nbsp;</div>
<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">
    <h1>About the Ham</h1>
    <p>
        Hi I'm <a href="https://hamy.xyz/about/">Hamilton</a> - I built this! If you want more content like this <a href="https://hamy.xyz/subscribe">subscribe</a> to my email list, <a href="https://hamy.xyz/connect">connect</a> with me around the web, or take a look at some of my other <a href="https://labs.hamy.xyz/projects">projects</a>.
    </p>
</div>

{{ $scratch := newScratch }}
{{ if .Param "tags" }}
    {{ range (where .Site.RegularPages "Params.tags" "intersect" (.Param "tags")) }}
        {{ if not ($scratch.Get "relatedContent") }}
            {{ $scratch.Set "relatedContent" (slice .) }}
        {{ else }}
            {{ $scratch.Add "relatedContent" . }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- if we didn't find any relevant content in tags, we look in kind -->
{{ if not ($scratch.Get "relatedContent") }}
    {{ $scratch.Set "relatedContent" (where .Site.RegularPages "Type" .Section) }}
{{ end }}

{{ $featuredContent := first 3 (shuffle ($scratch.Get "relatedContent")) }}
<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">
    <h1>More Reads</h1>
    {{ range $featuredContent }}
    <div>
        <a href="{{ .Permalink }}" class='no-prose-no-underline' >
            <h2 class="no-prose-post-list-title hover:text-hamred">
                {{ .Title }}
            </h2> 
        </a>
        <p class="no-prose-post-list-description text-black mt-0">
            {{ $wordCount := (.Content | countwords)}}
            {{ .Date.Format "2006.01.02" }} | {{ $wordCount }} words
            {{ if .Params.tags }}
                |
                <span>
                    {{ range .Params.tags }}
                        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{. | urlize}}/"
                            class='no-prose-no-underline'>
                            <button 
                                class="inline-block text-xs px-2 py-1 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">
                                {{ . }}
                            </button>
                        </a>
                    {{ end }}
                    </span>
            {{ end }}
        </p>   
    </div>
    {{ end }}
</div>