<!-- <div class="ui footer vertical segment container" style="margin-top: 5%;">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided list">
            {{ range .Site.Menus.main.ByWeight }}
            <a class="item" href="{{ .URL | relLangURL }}">
                {{ .Name }}
            </a>
            {{ end }}
        </div>
        <div>
            Built by <a href="https://iamhamy.xyz">
                <img src="https://storage.googleapis.com/iamhamy-static/branding/HAMYLOGO.png"
                    class="ui centered tiny image"
                    alt="{{ .Site.Title }} logo" />
            </a>
            <br />
            Like what you see?
            <p />
            <a href="https://iamhamy.xyz/connect">
                Build with me.
            </a>
        </div>
    </div>
</div> -->
