<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/hamy.css" >
    <link rel="stylesheet" href="/css/hamship.css" >
    <link rel="shortcut icon" href="/favicon.png">
    <!-- <script src="https://kit.fontawesome.com/3145a2c29f.js" crossorigin="anonymous"></script>
    <script src="/js/material-components-web.min.js"></script> -->
    {{- with .Title | default .Site.Title }}
        <title>{{ . }}</title>
    {{- end }}
    {{- with .Description | default .Params.subtitle | default .Summary }}
        <meta name="description" content="{{ . }}">
    {{- end }}
    {{ partial "google_analytics_lazy.html" . }}
    {{ hugo.Generator }}
</head>
